@model List<SPR.Models.ViewModels.SqlParametersView>

@using (Html.BeginForm())
{

<fieldset class="mb-4 mt-3 shadow-sm p-2 border d-print-none" id="sqlParams">
    <legend>parameters</legend>

    <div class="row">
        @{
            foreach (var param in Model.OrderBy(x=> x.ParameterID).ThenBy(x=> x.ParameterDataType))
            {
                @Html.RenderParameter(param)
            }

        }

        <div class="form-group col-lg-3 col-md-6 col-sm-12">
            <label>&nbsp;</label>
            <input type="submit" class="btn btn-info w-100" />
        </div>

    </div>

</fieldset>

}


