@model SPR.Models.ViewModels.SqlParametersView

<div class="form-group col-lg-3 col-md-6 col-sm-12">
    <label>@Model.DisplayName</label>
    <input type="number" id="@Model.InputName" name="@Model.InputName" value="@Model.ParameterValue" class="form-control" />
</div>